*.txt filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
./output_images/exercise2_left.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise2_case_i.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise2_case_ii.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise4_two_arcs_1.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise2_right.eps  filter=lfs diff=lfs merge=lfs -text
./output_images/exercise4_single_arc.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise3e.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise1_single_component_error.eps filter=lfs  diff=lfs merge=lfs -text
./output_images/exercise3a.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise3c.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise2_relative_distance_Venus.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise1_full_orbit.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise2_relative_distance_Earth.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise5_a.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise5_d.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise2_case_iii.eps filter=lfs diff=lfs merge=lfs -text
./output_images/exercise4e.eps filter=lfs diff=lfs merge=lfs -text
